<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alunos</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar #dadosCliente placeholder="Buscar" (ionInput)="buscarAlunos(dadosCliente.value)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let aluno of alunos">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{aluno.nome}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Email: {{aluno.email}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Endereço: {{aluno.endereco}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bairro: {{aluno.bairro}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Cidade: {{aluno.cidade}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Estado: {{aluno.estado}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Telefone(s): {{aluno.telefone}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Questões resolvidas: {{aluno.questoes}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Pontos obtidos: {{aluno.pontos}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Acertos: {{aluno.acertos}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Erros: {{aluno.erros}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Data da inscrição: {{aluno.dataCriacao}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Última atualização: {{aluno.dataAtualizacao}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
